/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'normal';
  src: url(../app/ContenidoEstilos/ModernAesthetic-DemoVersion-Regular.otf);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
 background-color: #006C67;

}

h1{

  font-size: 50px;
  color: #FFEBC6;

}

h1, h2{
  font-family: 'normal';
  font-weight: lighter;
}

.contenidoPrincipal{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
}

.contenidoPrincipal aside{
  padding: 40px;
  width: 20%;
  background-color: #FFEBC6;
  height: 100%;
  border-top-right-radius: 50px;
}

.contenidoPrincipal section{
  padding: 40px;
  background-image: linear-gradient(to bottom, #006C67 20%, #028079 50%, #008f88 80%);
  height: 100%;
  width: 90%;
}

footer{
  background-color: #171717;
}

/*Boton----------------------------------------------------*/
.boton{
  font-family: 'normal';
  font-weight: lighter;
  width:200px;
  font-size: 20px;
  background-color: #DB7F67;
  color: #FFEBC6;
  padding: 20px;
  text-align: center;
  transition: all 0.5s ease;
  border-radius: 10px;
  border: 2px solid #DB7F67
}

.boton:hover{
  background-color: #FFEBC6;
  color: #DB7F67;
  border: 2px solid #DB7F67;
}

/*task----------------------------------------------------*/

.task{
  display: flex;
  flex-direction: row;
  margin: 30px;
  background-color: #DB7F67;
  color: #FFEBC6;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.task h2,h4{
  text-decoration: none;
}

.task > .boton{
  margin-left: 10px;
  text-decoration: none;
  border: 1px solid white;
  margin-top: 10px;

}

.task > .boton:hover{
  border: 1px solid #FFEBC6;
  margin-top: 10px;
  color: #DB7F67;
  background-color: #FFEBC6;

}

.doneTask{
  display: flex;
  flex-direction: row;
  margin: 30px;
  background-color: #A37B73;
  color: #FFEBC6;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.doneTask h2 {
  text-decoration: line-through;
}

.doneTask > .boton{
  margin-left: 100px;
  width: fit-content;
  text-decoration: none;
  border: 1px solid #FFEBC6;
  margin-top: 10px;
  color: #DB7F67;
  background-color: #FFEBC6;

}

/*Recuadro-------------------------*/

.recuadroTareas{
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid white;
  padding: 30px;

}
