/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'normal';
  src: url(../app/ContenidoEstilos/ModernAesthetic-DemoVersion-Regular.otf);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
 background-color: #006C67;

}

h1{

  font-size: 50px;
  color: #FFEBC6;

}

h1, h2{
  font-family: 'normal';
  font-weight: lighter;
}

.contenidoPrincipal{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
}

.contenidoPrincipal aside{
  padding: 40px;
  width: 20%;
  background-color: #FFEBC6;
  height: 100%;
  border-top-right-radius: 50px;
}

.contenidoPrincipal section{
  padding: 40px;
  background-image: linear-gradient(to bottom, #006C67 20%, #027973 50%, #029991 80%);
  height: 100%;
  width: 90%;
}

footer{
  background-color: #171717;
}

/*Boton----------------------------------------------------*/
.boton{
  font-family: 'normal';
  font-weight: lighter;
  width:200px;
  font-size: 20px;
  background-color: #DB7F67;
  color: #FFEBC6;
  padding: 20px;
  text-align: center;
  transition: all 0.5s ease;
  border-radius: 10px;
  border: 2px solid #DB7F67
}

.boton:hover{
  background-color: #FFEBC6;
  color: #DB7F67;
  border: 2px solid #DB7F67;
}

/*task----------------------------------------------------*/

.task{
  display: flex;
  flex-direction: column;
  
  margin-left: 20px;
  margin-bottom:20px ;
  background-color: #DB7F67;
  color: #FFEBC6;
  width: 30%;
  min-height: 50%;
  height: 50%;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

 .task h2, h4{
  flex: 1;
  text-decoration: none;
}

.task h4{
  overflow: hidden;
}

.task > .boton {
  margin-top: 30px;
  margin-right: 20px; 
  height: 60px;
  width: 95%;
  text-decoration: none;
  border: 1px solid #FFEBC6;
}


.task > .boton:hover{
  border: 1px solid #FFEBC6;
  color: #DB7F67;
  background-color: #FFEBC6;

}

.doneTask{

  display: flex;
  flex-direction: column;
  
  margin-left: 20px;
  margin-bottom:20px ;
  background-color: #A37B73;
  color: #FFEBC6;
  width: 30%;
  min-height: 50%;
  height: 50%;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.doneTask h2 {
  text-decoration: line-through;
}
.doneTask h4{
  overflow: hidden;
}


.doneTask > .boton{
  border: 1px solid #FFEBC6;
  color: #DB7F67;
  background-color: #FFEBC6;

  height: 60px;
  width: 95%;

}

/*Recuadro-------------------------*/

.recuadroTareas{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #FFEBC6;
  padding: 30px;

}

.popup-visible{
  display: block;
}

.popup-invisible{
  display: none;
}

.popup{
  background-image: linear-gradient(to bottom, #027973 50%, #029991 80%);
  border: 1px solid #FFEBC6;
  border-radius: 6px;
  width: 30%;
  height: 40%;
  padding: 30px;
  margin: auto;

  position: fixed;
  top: 10%;       
  left: 40%;     

}

input {
  font-family: 'normal';
  margin-top: 30px;
  font-size: 16px;         
  padding: 10px;          
  border-radius: 5px;      
  border: 2px solid #DB7F67; 
  width: 100%;             
  background-color: white;
  color: #DB7F67;             
}

.Form-button{
  font-family: 'normal';
  margin-top: 20px;
  font-weight: lighter;
  width:200px;
  font-size: 20px;
  background-color: #DB7F67;
  color: #FFEBC6;
  padding: 20px;
  text-align: center;
  transition: all 0.5s ease;
  border-radius: 10px;
  border: 2px solid #DB7F67

}

.Form-button:hover{
  background-color: transparent;
  color: #DB7F67;
  border: 2px solid #DB7F67;

}

/*selected .---------------------------*/


@keyframes shakeRotate {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-1deg); }
  50% { transform: rotate(1deg); }
  75% { transform: rotate(-1deg); }
  100% { transform: rotate(0deg); }
}


.selected{
  display: inline-block;
  animation: shakeRotate 0.4s ease-in-out infinite;
  background-color: #A37B73;
}

.selected > .boton{
  visibility: hidden;
  transition: all 0s ease-out;
}