/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color:#f0e3ec;
}

.contenidoPrincipal{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
}

.contenidoPrincipal aside{
  padding: 40px;
  width: 60%;
  background-color: #0037f5;
  height: 100%;
}

.contenidoPrincipal section{
  padding: 40px;
  background-color: #151b31;
  height: 100%;
  width: 90%;
}



/*Boton----------------------------------------------------*/
.boton{
  width:200px;
  font-size: 20px;
  background-color: #0037f5;
  color: #f0e3ec;
  padding: 20px;
  text-align: center;
  transition: all 0.5s ease;
  border-radius: 10px;
  border: 2px solid #0037f5
}

.boton:hover{
  background-color: #f0e3ec;
  color: #0037f5;
  border: 2px solid #0037f5;
}

/*task----------------------------------------------------*/

.task{
  display: flex;
  flex-direction: row;
  margin: 30px;
  background-color: #0037f5;
  color: #f0e3ec;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.task h2,h4{
  text-decoration: none;
}

.task > .boton{
  text-decoration: none;
  border: 1px solid white;
  margin-top: 10px;

}

.task > .boton:hover{
  border: 1px solid #f0e3ec;
  margin-top: 10px;
  color: #0037f5;
  background-color: #f0e3ec;

}

.doneTask{
  display: flex;
  flex-direction: row;
  margin: 30px;
  background-color: #00186d;
  color: #f0e3ec;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.doneTask h2 {
  text-decoration: line-through;
}

.doneTask > .boton{
  text-decoration: none;
  border: 1px solid #f0e3ec;
  margin-top: 10px;
  color: #0037f5;
  background-color: #f0e3ec;

}
